body {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  text-align: center;
  margin: 0;
  background-color: #FFF;
}
header {
  background-color: #404041;
  color: #ED458B;
  font-weight: 700;
  font-size: 36px;
  -webkit-font-smoothing: antialiased;
  padding-top: 16px;
  padding-bottom: 19px;
}

h1 {
  margin: 0;
}

main {
  width: 558px;
  margin: auto;
}

p {
  color: #404041;
  -webkit-font-smoothing: antialiased;
  margin: 5px;
}

.guesserButton:hover {
  background-color: #EB008B;
}
.guesserButton:disabled {
  background-color: #D0D2D3;
}
.guesserButton {
  background-color: #929497;
  color: #FFFFFF;
  border-radius: 56px;
  border-style: none;
  display: inline-block;
  width: 259px;
  line-height: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 100%;
  font-weight: 300;
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
}
#guessButton {
  margin-right: 15px;
}
#clearButton {
  margin-left: 15px;
}
#topText {
  margin-top: 73px;
}
#response {
  margin-top: 8px;
  font-size: 36px;
}
#resetButton {
  margin-top: 13px;
  width: 560px;
  font-size: 26px;
  padding-top: 9px;
  padding-bottom: 13px;
  border-radius: 32px;
}
#lastGuess {
  color: #EB008B;
  font-size: 250px;
  font-weight: 300;
  margin: 0px;
  line-height: 1;
  -webkit-font-smoothing: initial;
}

#guessField {
  -webkit-font-smoothing: antialiased;
  width: 528px;
  font-size: 36px;
  color: #929497;
  margin-top: 63px;
  margin-bottom: 54px;
  border-style: solid;
  border-color: #D0D2D3;
  padding-top: 4px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 12px;
}
#guessField::placeholder {
  color: #D0D2D3;
  font-family: "Open Sans";
  font-weight: 300;
  -webkit-font-smoothing: inherit;
  font-size: 36px;
}

#titleGuesser {
  color: #e6e7e8;
  font-weight: 300;
}
